# Node dependencies
node_modules/

# Build output
dist/
tools/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.dev
.env.test
.env.prod

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
